<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8"/>
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/posts}">Posts</a></li>
                        <li><a href="#" th:href="@{/post/new}" sec:authorize="isAuthenticated()">Create Post</a></li>
                        <li sec:authorize="isAnonymous()"><a href="#" th:href="@{/login}">Sign in</a></li>
                    </ul>
                </div>
                <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> 
                            <strong sec:authentication="name"></strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu text-center">
                            <li>
                                <form th:action="@{/logout}" method="POST">
                                    <input type="submit" class="btn btn-danger center-block" value="Logout" />
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>feeddit</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>