<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Form</title>
    <th:block th:include="fragments/headerincludes :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <div class="container col-md-3 col-centered">
        <div class="card card-container">
            <p id="profile-name" class="profile-name-card"></p>
            <form th:action="@{/login}" method="post"> 
                <div class="form-group">
                       <input class="form-control" type="text" name="username" placeholder="Username"/>
                </div>
                  
                <div class="form-group">
                       <input class="form-control" type="password" name="password" placeholder="Password"/> 
                </div>
                  
                <div class="form-group">
                       <input class="btn btn-info center-block" type="submit" value="Sign In"/>
                      
                </div>
                  
                <span th:if="${param.error}">
                    <div class="alert-danger">Invalid username and password.</div>
                </span>
                  
                <span th:if="${param.logout}">
                       
                    <div class="alert-normal">You have been logged out.</div>
                      
                </span>
                 
                  <input type="hidden" name="${_csrf.parameterName}"
                         value="${_csrf.token}"/>
                 
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div>
</div>
</body>
</html>