<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title sec:authorize="hasRole('ROLE_USER')">My posts</title>
    <title sec:authorize="hasRole('ROLE_ADMIN')">All posts</title>
    <th:block th:include="fragments/headerincludes :: head"></th:block>
</head>
<body>
<div class="container-fluid text-center">
    <th:block th:include="fragments/header :: header"></th:block>
    <span th:if="${numberOfPostsDeleted}" class="center-block text-center alert alert-success">
        Successfully deleted <span th:text="${numberOfPostsDeleted}"></span> posts!
    </span>
    <span th:if="${#lists.isEmpty(userPosts)}" class="center-block text-center alert alert-info">
        No posts added yet!
    </span>

    <div class="row-fluid" th:if="${not #lists.isEmpty(userPosts)}">
        <div class="col col-md-12">
            <table id="" class="table table-striped">
                <form id="form" th:action="@{/deletePosts}" method="POST">
                    <input id="postDeleteButton" class="btn btn-danger" type="submit" value="Delete selected posts"/>
                    <hr/>
                    <thead>
                    <tr>
                        <th class="text-center">Number of upvotes</th>
                        <th class="text-center">Headline</th>
                        <th class="text-center">Delete</th>
                    </tr>
                    </thead>
                    <tr th:each="post : ${userPosts}">
                        <td class="text-center" th:text="${post.numberOfUpvotes}"></td>
                        <td class="text-center">
                            <a th:href="${post.postURL}"><h4 th:text="${post.headline}"></h4></a>
                            <span th:text="${post.authorName}">
                    </span>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="postIds" th:value="${post.id}"/>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>

</div>
</body>
</html>
