<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>My posts</title>
    <th:block th:include="fragments/headerincludes :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <span th:if="${#lists.isEmpty(userPosts)}" class="center-block text-center alert alert-info">
        No posts added yet!
    </span>
    <div class="container" th:if="${not #lists.isEmpty(userPosts)}">
        <table class="table table-striped">
            <tr>
                <td class="text-center"><a th:href="${'/deletePosts'}">Delete posts</a></td>
            </tr>

            <tr th:each="post : ${userPosts}">
                <td class="text-center" th:text="${post.numberOfUpvotes}"></td>
                <td class="text-center">
                    <a th:href="${post.postURL}"><h3 th:text="${post.headline}"></h3></a>
                    <span th:text="${post.authorName}">
                    </span>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>
