<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>feeddit</title>
    <th:block th:include="fragments/headerincludes :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <span th:if="${#lists.isEmpty(listOfPosts)}" class="center-block text-center alert alert-info">
        No posts added yet!
    </span>
    <div class="container" th:if="${not #lists.isEmpty(listOfPosts)}">
        <table class="table table-striped">
            <tr>

            </tr>

            <tr th:each="post : ${listOfPosts}" class="text-center">
                <td class="text-center" th:text="${post.numberOfUpvotes}"></td>
                <td class="text-center">
                    <a th:href="${post.postURL}"><h3 th:text="${post.headline}"></h3></a>
                    <span th:text="${post.authorName}">
                    </span>
                </td>
                <td class="text-center">
                    <a id="upvoteLink" th:href="@{/post/{id}/upVote(id=${post.id})}"
                       class="glyphicon glyphicon-hand-up"></a>
                    <a id="downvoteLink" th:href="@{/post/{id}/downVote(id=${post.id})}"
                       class="glyphicon glyphicon-hand-down"></a>
                </td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>
