<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>feeddit</title>
    <th:block th:include="fragments/headerincludes :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <div th:if="${not #lists.isEmpty(listOfPosts)}">
        <h2>Posts</h2>
        <table class="table table-striped">
            <tr>

            </tr>

            <tr th:each="post : ${listOfPosts}" class="text-center">
                <td th:text="${post.numberOfUpvotes}"></td>
                <td>
                    <a th:href="${post.postURL}"><h3 th:text="${post.headline}"></h3></a>
                    <span th:text="${post.authorName}">
                    </span>
                </td>
                <td>
                    <button th:onclick="'javascript:upVote(\'' + ${post.id} + '\');'"
                            class="glyphicon glyphicon-hand-up"></button>
                    <button class="glyphicon glyphicon-hand-down"></button>
                </td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>
