<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Create a post</title>

    <th:block th:include="fragments/headerincludes :: head"></th:block>
</head>
<body>
<div class="container-fluid text-center">
    <th:block th:include="fragments/header :: header"></th:block>

    <h2>Create a post</h2>
    <hr/>
    <div class="row-fluid text-center">
        <div class="col col-md-6 col-md-offset-3">
            <form class="form-horizontal" th:object="${post}" th:action="@{/post}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Upvote #:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" th:field="*{numberOfUpvotes}" readonly="readonly"
                               disabled="disabled"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">By user:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:value="${currentUserUsername}" disabled="disabled"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Headline:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{headline}" autofocus="autofocus"
                               required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Link:</label>
                    <div class="col-sm-10">
                        <input type="url" class="form-control" th:field="*{postURL}" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Author:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{authorName}" required="required"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-danger" th:href="@{/}">
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>

</body>
</html>